<!DOCTYPE html>
<html>
  <head>
    <title>VirtKit</title>

    <script>
      url = function (path) {
        return <%= url('/').to_json %> + path.replace(/^\//, '');
      };
    </script>

    <script src="<%= url '/scripts/virtkit/terminal.js' %>"></script>
    <script src="<%= url '/scripts/virtkit.js' %>"></script>

    <style>
      body {
        background-color: #333;
      }
      #term {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 720px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <canvas id="term" width="720" height="400"></canvas>
  </body>
</html>
